.price {
    margin: var(--sp-sm) 0;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
    justify-content: center;
    padding: var(--sp-xxl);
}
.card {
    position: relative;
    width: auto;
    margin: var(--sp-xxl);
}
.card-title {
    font-size: 1.4rem;
}
.card .card-subtitle {
    font-size: 1.1rem;
}
