.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: var(--sp-xxl);
    gap: var(--sp-xxl);
    justify-content: center;
    margin-top: 17rem;
}
.category {
    height: 8rem;
    box-shadow: var(--shadow-white);
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    background-image: var(--overlay-gradient), url("../assets/images/cover.jpg");
    transition: 150ms;
}
.category:hover {
    box-shadow: var(--shadow-hover);
}
.category h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.main-banner {
    width: 90%;
    height: 25rem;
    margin: var(--sp-lg);
    background-image: var(--overlay-gradient), url("../assets/images/cover.jpg");
    border-radius: 1rem;
}
.main-banner p {
    font-size: 2rem;
    color: var(--font-90);
}
.main-banner .offer {
    font-size: 2.4rem;
    font-weight: 700;
}
.main-banner .btn {
    font-size: 1.8rem;
}
section {
    margin: 2rem;
}
.section-head {
    margin-bottom: 1rem;
}
.new-arrival {
    width: 90%;
    min-height: 15rem;
    padding: var(--sp-xl);
    margin: var(--sp-lg);
    border-radius: 5px;
    box-shadow: var(--shadow-white);
    display: flex;
    cursor: pointer;
    transition: 150ms;
}
.new-arrival:hover {
    box-shadow: var(--shadow-hover);
}
.new-arrival .cover {
    max-width: 40%;
    min-width: 40%;
}
.new-arrival .content {
    padding: var(--sp-lg);
}
.new-arrival h4 {
    margin-bottom: var(--sp-lg);
}
footer {
    padding: var(--sp-xxl);
    background-color: var(--primary-hover);
    box-shadow: var(--shadow-white);
}
footer h5 {
    margin: var(--sp-lg) 0;
}

@media screen and (min-width: 760px) {
    .category-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
        margin-top: 10rem;
    }
    .new-arrival {
        width: clamp(12rem, 40%, 28rem);
    }
}
